Source: timeslottracker
Section: utils
Priority: optional
Maintainer: Andrey Glazachev <aglazachev@users.sourceforge.net>
Standards-Version: 3.8.0
Homepage: http://sourceforge.net/projects/timeslottracker/

Package: timeslottracker
Architecture: all
Depends: openjdk-8-jre | openjdk-9-jre | openjdk-10-jre
Description: Simple and useful Time Tracking tool written in java
